version: '3.8'

services:
  stepik-retention-model:
    build:
      context: .
      dockerfile: model_service/Dockerfile
    container_name: stepik-retention-model
    ports:
      - "8001:8000"
    restart: unless-stopped
    networks:
      - ollama-net

  stepik-retention-backend:
    build:
      context: .
      dockerfile: backend/Dockerfile
    container_name: stepik-retention-backend
    ports:
      - "3002:3002"
    environment:
      - PORT=3002
      - MODEL_SERVICE_URL=http://stepik-retention-model:8000
    depends_on:
      - stepik-retention-model
    restart: unless-stopped
    networks:
      - ollama-net

  stepik-retention-frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
      args:
        # Для работы через Nginx прокси по пути /stepik-retention
        # API будет доступен по адресу https://domain/stepik-retention/api
        - REACT_APP_BACKEND_URL=/stepik-retention
    ports:
      - "3003:80"
    environment:
      - NODE_ENV=production
    depends_on:
      - stepik-retention-backend
    restart: unless-stopped
    container_name: stepik-retention-frontend
    networks:
      - ollama-net

networks:
  ollama-net:
    external: true
